.beamzgrey {
    background-color: #f3f3f4 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #304781;
    border-color: #304781;
}
