{% extends "auth-base.html" %}

{% block subtitle %}Register{% endblock %}

{% block headercontent %}Welcome{% endblock %}
{% block introcontent %}Register to access the application{% endblock %}

{% block formcontent %}

	{{ form.non_field_errors }}
    {% if form.errors %} {% for field in form %} {% for error in field.errors %}<p> {{ error }}</p> {% endfor %}{% endfor %}{% endif %}
    {% csrf_token %}

    {% for field in form %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ field.errors }}
        </div>
        {% endif %}
        <div class="form-group mb-3">
            <label for="id_new_email">{{field.label}}</label>
            {{ field }}
        </p>
    {% endfor %}

    <div class="text-center mt-3">
		<button type="submit" class="btn btn-lg btn-primary">Sign up</button>
	</div>

    <div class="text-center mt-3">
		Already have an account? <a href="/login">Login</a>
	</div>


{% endblock %}

