{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load random_backgrounds %}

<!DOCTYPE html>
  <html lang="en">
    <head>   
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>BeamZ - {% block subtitle %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link rel="canonical" href="https://{{ request.get_host }}{% block canonicalurl %}{{ request.get_full_path }}{% endblock %}"> 

        {% include "css.html" %}
        <link rel="stylesheet" href="/static/src/css/auth.css"/>

    </head>
        
    <body id="page-top" style="background-image: url('{% random_background %}')">      
      {% include "js.html" %}
          <main class="d-flex w-100">
            <div class="container d-flex flex-column">
              <div class="row vh-100">
                <div class="col-sm-12 col-md-12 col-lg-12 mx-auto d-table h-100">
                  <div class="d-table-cell align-middle">

                    <div class="card-group">
                      <div class="card">
                        <div class="card-body beamzgrey">
                          <div class="text-center mt-4">
                            <h1 class="h2">{% block headercontent %}{% endblock %}</h1>
                          </div>        
                          
                          <a href="/{{ LANGUAGE_CODE }}/"><img src="/static/img/Logo.png" class="img-fluid" alt="BeamZ Logo" style="margin: 0 auto; display: block;"/></a>

                          <div class="text-center mt-4">
                            <p class="lead">
                              {% block introcontent %}{% endblock %}
                            </p>
                          </div>

                          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language"  class="form-select" data-width="fit" onchange="this.form.submit()">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                      {% if language.code == 'en' %}🇬🇧&emsp;{% endif %}
                                      {% if language.code == 'fr' %}🇫🇷&emsp;{% endif %}
                                      {% if language.code == 'de' %}🇩🇪&emsp;{% endif %}
                                      {% if language.code == 'nl' %}🇳🇱&emsp;{% endif %}
                                      {{ language.name_local }} 
                                    </option>
                                {% endfor %}
                            </select>
                          </form>
                        </div>
                      </div>
                    
                      <div class="card">
                        <div class="card-body">
                            <div class="m-sm-4">
                              <form method="post">
                                {% block formcontent %}{% endblock %}
                              </form>
                            </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
        </main>
    </body>
</html>