{% extends "auth-base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block subtitle %}{% trans "Change password" %}{% endblock %}

{% block headercontent %}{% trans "Need a new password?" %}{% endblock %}

{% block introcontent %}{% trans "Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly." %}{% endblock %}

{% block formcontent %}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-group mb-3">
		<label class="form-label" for="{{ form.old_password.id_for_label }}">{% trans "Old password" %}:</label>
		{{ form.old_password }}
		{% if form.old_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.old_password.errors }}
        </div>
        {% endif %}
	</div>
    
    <div class="form-group mb-3">
		<label class="form-label" for="{{ form.new_password1.id_for_label }}">{% trans "New password" %}:</label>
		{{ form.new_password1 }}
		{% if form.new_password1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors }}
        </div>
        {% endif %}
	</div>

    <div class="form-group mb-3">
		<label class="form-label" for="{{ form.new_password2.id_for_label }}">{% trans "Repeat new password" %}:</label>
		{{ form.new_password2 }}
		{% if form.new_password2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.new_password2.errors }}
        </div>
        {% endif %}
	</div>

    <div class="text-center mt-3">
		<button type="submit" class="btn btn-lg btn-primary">{% trans "Change password" %}</button>
		<a href="/{{ LANGUAGE_CODE }}/" class="btn btn-lg btn-light">{% trans "Cancel" %}</a>
	</div>
{% endblock %}

