{% extends "auth-base.html" %}
{% load i18n %}

{% block subtitle %}{% trans "Lost password" %}{% endblock %}

{% block headercontent %}{% trans "Forgot your password?" %}{% endblock %}

{% block introcontent %}{% trans "Enter your email address, and we'll email instructions for setting a new one." %}{% endblock %}

{% block formcontent %}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-group mb-3">
		
		<label class="form-label" for="{{ form.email.id_for_label }}">{% trans "Email" %}:</label>
		{{ form.email }}
		{{ form.email.errors }}

	</div>
    <div class="text-center mt-3">
		<button type="submit" class="btn btn-lg btn-primary">{% trans "Reset my password" %}</button>
	</div>
{% endblock %}

