{% extends "auth-base.html" %}

{% block subtitle %}Lost password{% endblock %}

{% block headercontent %}Forgot your password?{% endblock %}

{% block introcontent %}Enter your email address below, and we'll email instructions for setting a new one.{% endblock %}

{% block formcontent %}
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-group mb-3">
		
		<label class="form-label" for="{{ form.email.id_for_label }}">Email:</label>
		{{ form.email }}
		{{ form.email.errors }}

	</div>
    <div class="text-center mt-3">
		<button type="submit" class="btn btn-lg btn-primary">Reset my password</button>
	</div>
{% endblock %}

