{% extends "auth-base.html" %}

{% block subtitle %}Register{% endblock %}

{% block headercontent %}Welcome{% endblock %}
{% block introcontent %}Successful register{% endblock %}

{% block formcontent %}

	<p> You're now registered as a free user. <a href="/login">Login</a> to continue.</p>
	<p> to analyse structures, you'll need a professional or student subscription. You can request it through <a href="/app/subscription/">your portal</a>. </p>
	<p> Member of an organisation? Ask your admin to add your accouint in the org.</p>

{% endblock %}

